In [1]:
import pandas as pd
import numpy as np
import os 
import matplotlib.pyplot as plt
import seaborn as sns
import pickle

In [5]:
ratings = pd.read_csv('../data/ratings.dat', sep='::', engine='python', names=['userId', 'movieId', 'rating', 'timestamp'], encoding='latin-1')

movies = pd.read_csv('../data/movies.dat', sep='::', engine='python', names=['movieId', 'title', 'genres'], encoding='latin-1') # had to add encoding to prevent errors 
# as pandas can not properly read all characters present in the movies dataset

df = pd.merge(ratings, movies, on='movieId')

In [6]:
df.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama
1,2,1193,5,978298413,One Flew Over the Cuckoo's Nest (1975),Drama
2,12,1193,4,978220179,One Flew Over the Cuckoo's Nest (1975),Drama
3,15,1193,4,978199279,One Flew Over the Cuckoo's Nest (1975),Drama
4,17,1193,5,978158471,One Flew Over the Cuckoo's Nest (1975),Drama

In [8]:
df.shape

(1000209, 6)

In [9]:
df.columns.tolist()

['userId', 'movieId', 'rating', 'timestamp', 'title', 'genres']

In [10]:
user2index = {user_id: idx for idx, user_id in enumerate(df['userId'].unique())}
movie2index = {movie_id: idx for idx, movie_id in enumerate(df['movieId'].unique())}

df['user_Index'] = df['userId'].map(user2index)
df['movie_Index'] = df['movieId'].map(movie2index)

with open('../data/user2index.pkl', 'wb') as f:
    pickle.dump(user2index, f)

with open('../data/movie2index.pkl', 'wb') as f:
    pickle.dump(movie2index, f)

print(f"Number of users: {len(user2index)}")
print(f"Number of movies: {len(movie2index)}")

Number of users: 6040
Number of movies: 3706

In [11]:
df.head()

,userId,movieId,rating,timestamp,title,genres,user_Index,movie_Index
0,1,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama,0,0
1,2,1193,5,978298413,One Flew Over the Cuckoo's Nest (1975),Drama,1,0
2,12,1193,4,978220179,One Flew Over the Cuckoo's Nest (1975),Drama,2,0
3,15,1193,4,978199279,One Flew Over the Cuckoo's Nest (1975),Drama,3,0
4,17,1193,5,978158471,One Flew Over the Cuckoo's Nest (1975),Drama,4,0

In [13]:
df.shape

(1000209, 8)

In [14]:
df.columns.tolist()

['userId',
 'movieId',
 'rating',
 'timestamp',
 'title',
 'genres',
 'user_Index',
 'movie_Index']